mixin dp(name, position, use_placeholder, use_compact)
  - s = ""
  - if(use_compact === true) {
  -   c = "col-md-1 col-xs-1"
  -   s = "margin: 0px; padding: 0px"
  - } else if(use_compact === 'big_compact') {
  -   c = "col-md-2 col-xs-1"
  -   s = "margin: 0px; padding: 0px; width:11%"
  - } else if(use_compact === 'big') {
  -   c = "col-xs-4 item-wrap"
  - } else if(use_compact === 'medium') {
  -   c = "col-xs-3 item-wrap"
  - } else {
  -   c = "col-xs-4 item-wrap col-sm-2"
  - }
  div(class=c, style=s)
    +dp_inner(name, position, use_placeholder, use_compact)

mixin dp_inner(name, position, use_placeholder, use_compact)
  - if (position == 'phd') {
  -   pos = 'PhD Student'
  - } else if (position == 'ms') {
  -   pos = 'MS Student'
  - } else if (position == 'jd') {
  -   pos = 'Law Student'
  - } else if (position == 'bs') {
  -   pos = 'BS Student'
  - } else if (position == 'md') {
  -   pos = 'Med Student'
  - } else if (position == 'scpd') {
  -   pos = 'Grad Student'
  - } else if (position == 'prof') {
  -   pos = 'Faculty'
  - } else if (position == 'postdoc') {
  -   pos = 'Faculty'
  - } else if (position == 'phdc') {
  -   pos = 'PhD Candidate'
  - } else if (position == 'pphd') {
  -   pos = 'Prospective PhD Student'
  - } else if (position == 'dl') {
  -   pos = 'Descartes Labs'
  - } else if (position == 'sc') {
  -   pos = 'The Sustainability Consortium'
  - } else if (position == 'wri') {
  -   pos = 'World Resources Institute'
  - } else if (position == 'rti') {
  -   pos = 'RTI International'
  - } else if (position == 'ocf') {
  -   pos = 'Open Climate Fix'
  - } else if (position == 'ncar') {
  -   pos = 'NCAR'
  - } else if (position == 'edf') {
  -   pos = 'EDF'
  - } else {
  -   pos = position
  - }
  - if (use_placeholder == true) {
  -   img_link = "Placeholder"
  - } else {
  -   img_link = name.replace(/ /g, '')
  - }
  if (use_compact === true)
    img(src='/img/headshots/' + img_link + '.jpg', style="padding: 0px;margin: 0px")
  else if(use_compact === 'big_compact')
    img(src='/img/headshots/' + img_link + '.jpg', style="padding: 0px;margin: 0px")
  else if(use_compact === 'show_position')
    .feature-item
      img.img-circle(src='/img/headshots/' + img_link + '.jpg')
      h4.compact-title #{name}
      p.compact-subtitle #{pos}
  else
    .feature-item
      img.img-circle(src='/img/headshots/' + img_link + '.jpg')
      h4.compact-title #{name}
      p.compact-subtitle

