extends ../../layout

block title
  title MURA Dataset: Towards Radiologist-Level Abnormality Detection in Musculoskeletal Radiographs

block description
  meta(name='description', content='MURA is a large dataset of bone X-rays. Algorithms are tasked with determining whether an X-ray study is normal or abnormal.')

block extralinks
  link(href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css")
  link(rel='stylesheet', type='text/css', href='/competitions/mura/css/index.css')

block extrascripts
  script(src='/competitions/mura/js/form.js')

mixin model_display(group)
  table.table.performanceTable
    tr
      th Rank
      th Date
      th Model
      th Kappa
    - var largest_kappa = Math.max.apply(null, group.map(function (model) { return model.kappa; }))
    tr.human-row
      td
      td
      td
        | Best Radiologist Performance 
        em Stanford University 
        a(href="https://arxiv.org/abs/1712.06957") Rajpurkar & Irvin et al., 17
      td 0.778
    each model in group
      tr
        td.rank
          | #{model.rank} <br>
        td
          span.date.label.label-default #{moment.unix(model.date).format('MMM DD, YYYY')}
        td(style="word-break:break-word;")
          | #{model.model_name}
          if model.institution != ''
              em  #{model.institution} 
          if model.link
            a.link(href=model.link) #{model.link}
        td
          if model.kappa == largest_kappa
            b #{model.kappa.toPrecision(3)}
          else
            | #{model.kappa.toPrecision(3)}

block content
  section#header
    .container
      .row
        .col-lg-12
          img#title-image(src="/competitions/mura/img/logo.svg")
          //-h1#page-title MURA
          h2#page-subtitle Bone X-Ray Deep Learning Competition
  section
    .container
      .row
        .col-md-6
          h1 What is MURA?
          p MURA (<b>mu</b>sculoskeletal <b>ra</b>diographs) is a large dataset of bone X-rays. Algorithms are tasked with determining whether an X-ray study is normal or abnormal.
          p Musculoskeletal conditions affect more than 1.7 billion people worldwide, and are the most common cause of severe, long-term pain and disability, with 30 million emergency department visits annually and increasing. We hope that our dataset can lead to significant advances in medical imaging technologies which can diagnose at the level of experts, towards improving healthcare access in parts of the world where access to skilled radiologists is limited.
          p MURA is one of the largest public radiographic image datasets. We're making this dataset available to the community and hosting a competition to see if your models can perform as well as radiologists on the task.
          h2 How can I participate?
          p Update: This competition is now closed.
          p MURA uses a hidden test set for official evaluation of models. Teams submit their executable code on Codalab, which is then run on a test set that is not publicly readable. Such a setup preserves the integrity of the test results.
          p Here's a tutorial walking you through official evaluation of your model. Once your model has been evaluated officially, your scores will be added to the leaderboard.
          ul.list-inline
            li
              a.btn.btn-lg.btn-default(href="https://worksheets.codalab.org/worksheets/0x42dda565716a4ee08d61f0a23656d8c0/") Submission Tutorial
            li
              a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/1712.06957") Read the Paper
        .col-md-6
          h1 Leaderboard
          p 
            | Will your model perform as well as radiologists in detecting abnormalities in musculoskeletal X-rays?
          +model_display(test)
  section.gray
    .container
      .row
        .col-md-7
          h2 How did we collect MURA?
          p MURA is a dataset of musculoskeletal radiographs consisting of 14,863 studies from 12,173 patients, with a total of 40,561 multi-view radiographic images. Each belongs to one of seven standard upper extremity radiographic study types: elbow, finger, forearm, hand, humerus, shoulder, and wrist. Each study was manually labeled as normal or abnormal by board-certified radiologists from the Stanford Hospital at the time of clinical radiographic interpretation in the diagnostic radiology environment between 2001 and 2012.
          h3 Test Set Collection
          p To evaluate models and get a robust estimate of radiologist performance, we collected additional labels from six board-certified Stanford radiologists on the test set, consisting of 207 musculoskeletal studies. The radiologists individually retrospectively reviewed and labeled each study in the test set as a DICOM file as normal or abnormal in the clinical reading room environment using the PACS system. The radiologists have 8.83 years of experience on average ranging from 2 to 25 years. We randomly chose 3 of these radiologists to create a gold standard, defined as the majority vote of labels of the radiologists.
        .col-md-5
            img(src='/competitions/mura/img/dataset.png')
  section
    .container
      .row
        .col-md-7
          h2 What is our baseline?
          p Our baseline uses a 169-layer convolutional neural network to detect and localize abnormalities. The model takes as input one or more views for a study of an upper extremity. On each view, our 169-layer convolutional neural network predicts the probability of abnormality. We compute the overall probability of abnormality for the study by taking the arithmetic mean of the abnormality probabilities output by the network for each image. The model makes the binary prediction of abnormal if the probability of abnormality for the study is greater than 0.5.
          p The network uses a Dense Convolutional Network architecture, which connects each layer to every other layer in a feed-forward fashion to make the optimization of deep networks tractable. We replace the final fully connected layer with one that has a single output, after which we apply a sigmoid nonlinearity. We use Class Activation Maps to visualize the parts of the radiograph which contribute most to the model's prediction of abnormality.
          img(src='/competitions/mura/img/pipeline.svg')
          h2 How does our baseline do?
          p We evaluated our baseline on the Cohen’s kappa statistic, which expresses the agreement of the model with the gold standard. Baseline performance is comparable to radiologist performance in detecting abnormalities on finger studies and equivalent on wrist studies. However, baseline performance is lower than best radiologist performance in detecting abnormalities on elbow, forearm, hand, humerus, shoulder studies, and overall, indicating that the task is a good challenge for future research.
          img(src='/competitions/mura/img/kappa.png')
        .col-md-5
          img(src='/competitions/mura/img/mura-cam1.svg')
          img(src='/competitions/mura/img/mura-cam2.svg')
          img(src='/competitions/mura/img/mura-cam3.svg')
          img(src='/competitions/mura/img/mura-cam4.svg')
  section.gray
    .container
      .row
        .col-md-7
          h1 Downloading the Dataset (v1.1)
          p Please read the Stanford University School of Medicine MURA Dataset Research Use Agreement. Once you register to download the MURA dataset, you will receive a link to the download over email. Note that you may not share the link to download the dataset with others.
          #agreement.well
            include agreement
          include mailchimp
  section
    .container
      .row
        .col-md-7
          h2 MURA: Large Dataset for Abnormality Detection in Musculoskeletal Radiographs.
          h3 Pranav Rajpurkar*, Jeremy Irvin*, Aarti Bagul, Daisy Ding, Tony Duan, Hershel Mehta, Brandon Yang, Kaylie Zhu, Dillon Laird, Robyn L. Ball, Curtis Langlotz, Katie Shpanskaya, Matthew P. Lungren, Andrew Y. Ng
          p
            | If you have questions about our work,
            | contact us at our 
            a(href="https://groups.google.com/forum/#!forum/mura-dataset") google group
            |.
          a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/1712.06957") Read the Paper
